@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

/* fullscreen */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* overlay */
.overlay-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: "PyeongchangPeace", "Noto Sans KR", sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.85);
  transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  height: 60px;
}

.header-top {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: white;
  position: relative;
}

.header-left {
  font-size: 1.1rem;
  font-weight: 300;
  font-family: "PyeongchangPeace", sans-serif;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-center {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10001;
}

.header-center:hover {
  opacity: 1;
}

.header-right {
  text-align: right;
  line-height: 1.2;
}

.header-right strong {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.header-right span {
  font-size: 15px;
  font-weight: 400;
}

/* 상세 설명 부분 */
.header-details {
  position: absolute;
  padding: 20px 20%;
  text-align: center;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  top: 60px;
  left: 0;
  width: 100%;
}

.overlay-header.is-open .header-details {
  opacity: 1;
}

.header-details p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  word-break: keep-all;
}

/* 좌우 화살표 버튼 */
.nav-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1); /* 연한 파란색 배경 */
  color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  z-index: 900;
  transition: all 0.3s ease;
  cursor: pointer;
}

.left-arrow {
  left: 25px;
}
.right-arrow {
  right: 25px;
}

.nav-arrow:hover {
  background-color: white;
  color: black;
  transform: translateY(-50%) scale(1.1);
}
